    @font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
    }
    @font-face {
        font-family: "Montserrat-Bold";
        src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
        }
    
    p { line-height: 1.5; }
    img { height: 48px; width: 48px; }

    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 3rem;
        justify-content: space-between;
    }

    .items{
      transition: all 1s ease-in;
    }

    .slider-item.active {
      opacity: 1;
    }

    .visible {
        display: block;
      } 
      .invisible {
        opacity: 0;
      }
      .invisible2{
        display: none;
      }

    .sliderContainer{ font-family: "Montserrat" }
    .container2 { display: flex; gap: 20px; }
    .itemHeader { font-size: 1.6rem }
    .arrow { justify-content: space-between; flex-direction: row; }
    .iconCircle { align-self: center }
    .profileTextSpacing h2{ margin-block-end: -0.4em; font-family: "Montserrat-Bold" } 
        
    .item1 { order: 1; width: 50%; }
    .item2 { order: 2; width: 50%; } 
    .item3 { order: 3; width: 50%; } 
    .item4 { order: 4; width: 50%; } 
    .item5 { order: 5; width: 50%; } 
    .item6 { order: 6; width: 50%; } 
    .item7 { order: 7; width: 50%; } 


    @media (max-width: 951px){
        .container{
            flex-direction: column;
          }
          .itemHeader, .item1, .item2, .item3, .item4, .item5, .item6, .item7{
            width:100%;
          }
    }
